VITE_FLIGHT_606_API=mongodb://rojanserranopilar18_db_user:admin123@ac-4ff0ft0-shard-00-00.pq8ytuf.mongodb.net:27017,ac-4ff0ft0-shard-00-01.pq8ytuf.mongodb.net:27017,ac-4ff0ft0-shard-00-02.pq8ytuf.mongodb.net:27017/Flight606v7?ssl=true&replicaSet=atlas-60zu0a-shard-0&authSource=admin&appName=My-Sandbox-Cluster